@import "vars";

.hero {
  &__inner {
    text-align: center;
  }

  &__photo {
    width: 100%;
  }

  &__title {
    margin: 16px 0 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $color-black;
  }

  &__text {
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-accent;
  }

  &__btn-link {
    display: inline-block;
    padding: 18px 99px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    background: $color-dark-grey;
    border-radius: 5px;
    transition: all 0.4s;
  }

  &__btn-link:hover {
    background-color: lighten($color-dark-grey, 20%);
  }

  &__lamp-img {
    display: none;
  }
}

// ----MEDIA--------
@media (min-width: 575px) {
  .hero {
    &__title {
      margin: 17px 10px 26px 9px;
      font-size: 34px;
      line-height: 45px;
    }

    &__text {
      margin-bottom: 37px;
      font-size: 16px;
      line-height: 24px;
    }

    &__btn-link {
      padding: 24px 101px 24px 102px;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@media (min-width: 767px) {
  .hero {
    &__inner {
      display: flex;
      flex-direction: row-reverse;
    }

    &__img,
    &__service {
      width: 50%;
    }

    &__service {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: relative;
    }

    &__title {
      margin: 29px 0 25px 0;
      width: 217px;
      font-size: 36px;
      line-height: 45px;
      text-align: start;
    }

    &__text {
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 24px;
      text-align: start;
    }

    &__btn-link {
      padding: 19px 67px;
    }

    &__lamp-img {
      display: block;
      position: absolute;
      top: 96px;
      left: 217px;
    }

    &__lamp-svg {
      width: 51px;
      height: 51px;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    &__title {
      margin: 58px 0 27px 0;
      width: 290px;
      font-size: 48px;
      line-height: 64px;
    }

    &__text {
      margin-bottom: 33px;
      font-size: 20px;
      line-height: 30px;
    }

    //   &__btn {
    // 	 margin-bottom: 50px;
    //   }

    &__btn-link {
      padding: 22px 78px 22px 79px;
      font-size: 24px;
      line-height: 36px;
    }

    &__lamp-img {
      top: 146px;
      left: 299px;
    }

    &__lamp-svg {
      width: 59px;
      height: 59px;
    }
  }
}

@media (min-width: 1087px) {
  .hero {
    &__title {
      margin: 58px 0 40px 0;
      width: 386px;
      font-size: 64px;
      line-height: 80px;
    }

    &__text {
      margin-bottom: 61px;
      font-size: 24px;
      line-height: 36px;
    }

    //   &__btn {
    // 	 margin-bottom: 90px;
    //   }

    &__btn-link {
      padding: 32px 117px 32px 118px;
      font-size: 36px;
      line-height: 54px;
    }

    &__lamp-img {
      top: 150px;
      left: 422px;
    }

    &__lamp-svg {
      width: 85.5px;
      height: 85.5px;
    }
  }
}
